<div class="container">
  <div class="restaurant-name">
    <h1><%= @restaurant.name %></h1>
    <h6>Your favorite <%= @restaurant.category %> restaurant</h6>
    <hr>
  </div>

  <div class="coordo">
    <p><strong>Contacts</strong></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <br>

  <div class="rest-reviews">
    <h4>Reviews</h4>
    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
    <ul>
      <br>
      <% @restaurant.reviews.each do |rev| %>
        <li><strong><%= rev.rating %> stars</strong> - <%= rev.content %></li>
      <% end %>
    </ul>
  </div>
</div>
